<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="login-body">
<div class="login-container">
    <h1>Welcome!</h1>
    <p class="welcome-message">You’re logged in successfully.</p>
    <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="login-button">Logout</button>
    </form>
</div>
</body>
</html>