<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
<h1>Edit Profile</h1>
<div th:if="${errorMessage}">
    <p th:text="${errorMessage}" style="color: red;"></p>
</div>
<div th:if="${successMessage}">
    <p th:text="${successMessage}" style="color: green;"></p>
</div>
<!-- Debug profile image path -->
<div>
    <p>Profile Image Path: <span th:text="${user.profileImage} ?: 'No image set'"></span></p>
    <div th:if="${user.profileImage}">
        <p>Current Profile Image:</p>
        <img th:src="@{${user.profileImage}}" alt="Profile Image" style="max-width: 200px;"
             th:onerror="this.src='/images/default-profile.png'" />
    </div>
    <div th:unless="${user.profileImage}">
        <p>No profile image uploaded yet.</p>
        <img src="/images/default-profile.png" alt="Default Profile" style="max-width: 200px;" />
    </div>
</div>
<form th:action="@{/profile/edit}" th:object="${user}" method="post" enctype="multipart/form-data">
    <label>Username: <input type="text" th:field="*{username}" readonly></label><br>
    <label>Email: <input type="email" th:field="*{email}"></label><br>
    <label>Password: <input type="password" th:field="*{password}"></label><br>
    <label>Profile Image: <input type="file" name="image" accept="image/*"></label><br>
    <button type="submit">Save</button>
</form>
<a th:href="@{/dashboard}">Back</a>
</body>
</html>